
    <nav>
        <ul>
            <li><a href="/auth/logout">Logout</a></li>
            <li><a href="/auth/login">Login</a></li>
            <li><a href="/">Homepage</a></li>
        </ul>
    </nav>
  <link rel="stylesheet" href="./assets/css/home.css">
    

