    <div class="min-h-full md:flex antialiased">
        <div class="flex-none w-1/5 md:max-w-xs bg-purple-300 text-white border-solid border-r-2 border-gray-600">

            <div class="flow-root pt-1">
                <div class="flex items-center text-white">
                    <img src="https://img.icons8.com/dusk/64/000000/book.png" />
                    <span class="font-bold text-yellow-500 text-3xl font-mono tracking-tight pr-16">BookMark-R</span>
                </div>
            </div>
            <div class="flex items-stretch">
            </div>
            <div class="items-stretch">
                <div class="text-center">
                    <div class="inline-block relative w-5/6 mb-6">
                        <div
                            class="pointer-events-none absolute inset-y-0 right-0 flex items-center px-2 text-gray-700">
                        </div>
                    </div>
                </div>
            </div>
            <div class="flow-root ml-3 pt-1">
                <div class="my-2 block">
                    <button id="folder1"
                        class="bg-indigo-500 w-2/3 inline-flex justify-between items-center hover:bg-indigo-700 text-xs text-white font-bold py-2 px-5 rounded">
                        <svg class="w-6 h-6 fill-current" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"
                            width="24" height="24">
                            <path class="heroicon-ui"
                                d="M12 22a10 10 0 1 1 0-20 10 10 0 0 1 0 20zm0-2a8 8 0 1 0 0-16 8 8 0 0 0 0 16zM10.59 8.59a1 1 0 1 1-1.42-1.42 4 4 0 1 1 5.66 5.66l-2.12 2.12a1 1 0 1 1-1.42-1.42l2.12-2.12A2 2 0 0 0 10.6 8.6zM12 18a1 1 0 1 1 0-2 1 1 0 0 1 0 2z" />
                        </svg>
                        <span>No tags</span>
                    </button>
                </div>
            </div>

{{#each atag}}
{{#if name}}
            <div class="flow-root ml-3 pt-1">
                <div class="my-2 block">
                    <button id="folder1"
                        class="bg-orange-500 w-2/3 inline-flex justify-between items-center hover:bg-orange-700 text-xs text-white font-bold py-2 px-5 rounded">
                        <svg class="w-6 h-6 fill-current" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"
                            width="24" height="24">
                            <path class="heroicon-ui"
                                d="M8 14.54V6a1 1 0 0 1 .76-.97l12-3A1 1 0 0 1 22 3v12a4 4 0 1 1-2-3.46V4.28l-10 2.5V18a4 4 0 1 1-2-3.46zM6 20a2 2 0 1 0 0-4 2 2 0 0 0 0 4zm12-3a2 2 0 1 0 0-4 2 2 0 0 0 0 4z" />
                        </svg>
                        <span>{{name}}</span>
                    </button>
                    <button>
                        {{!-- edit --}}
                        <svg class="" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" width="24" height="24">
                            <path class="heroicon-ui"
                                d="M6.3 12.3l10-10a1 1 0 0 1 1.4 0l4 4a1 1 0 0 1 0 1.4l-10 10a1 1 0 0 1-.7.3H7a1 1 0 0 1-1-1v-4a1 1 0 0 1 .3-.7zM8 16h2.59l9-9L17 4.41l-9 9V16zm10-2a1 1 0 0 1 2 0v6a2 2 0 0 1-2 2H4a2 2 0 0 1-2-2V6c0-1.1.9-2 2-2h6a1 1 0 0 1 0 2H4v14h14v-6z" />
                            </svg>
                    </button>
                    {{!-- bin --}}
                    <button>
                        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" width="24" height="24">
                            <path class="heroicon-ui"
                                d="M8 6V4c0-1.1.9-2 2-2h4a2 2 0 0 1 2 2v2h5a1 1 0 0 1 0 2h-1v12a2 2 0 0 1-2 2H6a2 2 0 0 1-2-2V8H3a1 1 0 1 1 0-2h5zM6 8v12h12V8H6zm8-2V4h-4v2h4zm-4 4a1 1 0 0 1 1 1v6a1 1 0 0 1-2 0v-6a1 1 0 0 1 1-1zm4 0a1 1 0 0 1 1 1v6a1 1 0 0 1-2 0v-6a1 1 0 0 1 1-1z" />
                            </svg>
                    </button>
                </div>
            </div>
{{/if}}
{{/each}}

        </div>


{{!-- Main Page --}}
        <div class="flex-1 flex-row w-full grid grid-cols-3">
            <nav class="w-full flex  items-center justify-between px-2 py-1 col-span-1">
                <form class="w-7/12 mt-2" name="addBookmark" action="/bookmark" method="POST">
                    <label class="w-3/12 justify-end text-xl font-bold font-mono tracking-tight md:mb-0 pr-5 pl-12 text-gray-700" for="addTab">
                        Add Bookmark URL
                    </label>
                    <input class="w-7/12 box-border h-15 flot-left shadow appearance-none border rounded py-1 px-3 text-gray-700 text-center leading-tight focus:outline-none focus:shadow-outline" id="addBookmark" type="text" placeholder="www.bookmark-r.com">
                 </form>
        <div class="p-4">
            <img class="w-16 h-16 mr-2 inline-block rounded-full mr-5" src="./assets/img/default.jpg"
                alt="portfolio icon">
                </div>
            </nav> {{!-- end of nav --}}


             <div class="col-span-2 px-10">
              <div class="flex flex-wrap overflow-hidden xl:-mx-3 justify-between">

{{#each bookm}}
{{#if url}}

  <div class="w-full overflow-hidden xl:my-3 xl:px-3 xl:w-1/5 m-3 rounded-lg overflow-hidden shadow-lg bg-blue-300">
  <img class="w-full p-2 rounded-lg" src="assets/img/light-final-painting-featured-image.jpg" alt="Sunset in the mountains">
  <div class="px-6 py-1">
    <div class="font-bold text-xl text-center mb-1">
      Water Painting
    </div>
    <p class="text-gray-700 text-base text-center">
     {{this.url}}
    </p>
  </div>
  <div class="px-2 pb-3 pt-2 justify-between">
    <span class="inline-block bg-gray-200 rounded-full px-3 py-1 text-xs font-semibold text-gray-700 m-1">#photography</span>
    <span class="inline-block bg-gray-200 rounded-full px-3 py-1 text-xs font-semibold text-gray-700 m-1">#travel</span>
    <span class="inline-block bg-gray-200 rounded-full px-3 py-1 text-xs font-semibold text-gray-700 m-1">#artwork Perth</span>
  </div>
</div>

{{/if}}
{{/each}}


        </div>{{!-- end of grid --}}

    
           
      

    </div> {{!-- page container --}}
 
    