<!--ALL MAIN-->
<div class="font-sans antialiased text-gray-900 leading-normal tracking-wider bg-cover" style="background: url('./assets/img/background-hex_1024x768.jpg')">
	<div class="pt-32 px-6 mx-auto flex flex-wrap flex-col md:flex-row items-center">
		<!--LEFT MAIN-->
		<div class="px-20 flex flex-col w-full xl:w-2/5 justify-center lg:items-start overflow-y-hidden">
			<!-- LOGO & TITLE -->	
			<div>
				<div class="flex items-center">
					<img class="pr-3 flex items-center slide-in-bottom" src="./assets/img/logo-50x50.png" /> 
					<span class="text-pink-600 text-3xl text-base md:text-5xl ms:text- font-bold leading-tight text-center md:text-left pr-16 slide-in-bottom-h1">Bookmarkr</span>
				</div>
			</div>			
			<!-- TAGLINE -->
			<p class="leading-normal text-base text-xl mb-8 text-center md:text-left slide-in-bottom-subtitle">The site to bookmark for all your bookmarks</p>
			<!-- GOOGLE LOGIN BUTTON-->
			 <a class="google-btn h-10 block inline-block align-middle text-center bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded md:justify-start pb-5 lg:pb-0 fade-in" href="/auth/google">Google+</a>
		</div>
		<!-- RIGHT MAIN WITH HERO IMAGE -->
		<div class="px-8 w-full xl:w-3/5 py-6 overflow-y-hidden">
			<img class="w-5/6 mx-auto lg:mr-0 slide-in-bottom" src="./assets/img/hero.png">
		</div>
		<!--FOOTER-->
		<div class="px-20 w-full text-sm text-center md:text-left fade-in">
			<a class="no-underline hover:no-underline" href="#">&copy; The DivDiv Team 2020</a>
		</div>
	</div>
</div>

  <link rel="stylesheet" href="./assets/css/login.css">
